*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#calculator{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-gap: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1B1B1B;
    padding: 30px 20px;
}
#text{
    width: 330px;
    height: 70px;
    text-align: right;
    background-color: #5042A1;
    border-radius: 5px;
    border: 0.1px solid #f5f5f5;
    color: #f5f5f5;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding: 3px;
}
button{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 10px 5px;
}
#buttons{
    text-align: center;
}
.operator{
    background-color: #5042A1;
    color: #f5f5f5;
}